<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="AppException" xsi:type="File" layout="${longdate} ${message}" fileName="${basedir}/Logs/App_${shortdate}.log" />
    <target name="DbExceptions" xsi:type="File" layout="${longdate} ${message}" fileName="${basedir}/Logs/Db_${shortdate}.log" />
  </targets>
  <rules>
    <logger name="AppLogger" minlevel="Trace" writeTo="AppException" final="true" />
    <logger name="DbLogger" minlevel="Trace" writeTo="DbExceptions" />
  </rules>
</nlog>